body {

    background: url(./../img/food\ bg.jpg);



}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
    
}

.home {
    margin: 10px;
    
}

a{
    text-decoration: none;

}