body {

    background-repeat: no-repeat;
    background: url(./../img/food\ bg.jpg);
    background-size: cover;
    text-align: left;
    margin: 0;
    padding: 0;


}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(0 0 0 / 63%);

    
}

.home {
    margin: 30px;
    font-size: 20px;
    display: flex;
   
    
}

a{
    text-decoration: none;
    color: antiquewhite;

}
.logo-img{
   margin-left: 30px;
}

.hname{
    text-align: center;
    color: rgb(239, 234, 228);
    font-size: 60px;
}