body {

    background-repeat: no-repeat;
    background: url(./../img/food\ bg.jpg);
    background-size: cover;
 filter: blur(8px);


}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 45px;
    padding: 10px;
    
}

.home {
    margin: 10px;
    
}

a{
    text-decoration: none;

}